<!DOCTYPE html>
<html>
    <head>
        <title> </title>
    </head>
    <body>
        <nav class="hero-nav">
            <h2 class="hero-nav__title">Heroe$4Hire</h2>
            <ul class="hero-nav__item-wrapper">
                <li class="hero-nav__item"><a href="/">Search</a></li>
                <li class="hero-nav__item"><a href="/login">Login</a></li>
                <li class="hero-nav__item"><a href="/cart">
                    <svg class="cartIcon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                </a></li>
            </ul>
        </nav>

        <h1> Adding a New Hero </h1>
        

        <form method="POST">
        
            Name: <input type="text" name="name"><br>    
            Alias: <input type="text" name="alias"><br>    
            Gender: <input type="radio" name="gender" value="F">Female
                    <input type="radio" name="gender" value="M">Male
                    <br>
            Group: <input type= "text" name="group"><br>
            Universe: <input type= "text" name="universe"><br>
            ImageURL: <input type= "text" name="image"><br>
            Information:<input type="text" name="information"><br>
            Year: <input type="text" name="year_appeared"><br>
            Comic:<input type="text" name="comic_appeared"><br>
            HeroID:<input type="text" name="heroId"><br>
            Price:<input type="text" name="price"><br>
        
                    <br>
            <!--Group: <input type="text" name="group"><br>    -->
            <!--Universe: <input type="text" name="universe"><br>    -->
            <!--TODO: Add the remaining fields -->
           <br>
            <button>Add Hero</button>
        
            <%= typeof(message) != "undefined"?message:"" %>
            
        </form>        
        
        <br>
        <form action="/admin">
            <button>
                Return to admin
            </button>
        </form>

        
    </body>
</html>