.flex-container{
    width: 100%;
    margin: 0px auto;
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
}

.hero-container{
    width: 200px;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.thumbnail-img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

figcaption, figure{
    margin: 0px auto;
    width: 100%;
}
a, a:visited{
    color: white;
    text-decoration: none;
}

.hero-container__text > p{
    margin-bottom: 2px;
}

.hero-info{
    padding: 10px;
    text-align: left;
}

.hero-info__img{
    /*width: 100%;*/
    max-height: 200px;
}

.hero-info__img-wrapper{
    margin: 0px auto;
}

.hero-info__text-wrapper{
    font-size: 0.7rem;
    float: left;
    clear: both;
}

.hero-info__text-wrapper > p {
    margin: 5px;
}

.hero-info__price{
    float: right;
}


.hero-nav{
    width: 100%;
    float: left;
    clear: both;
    padding: 0px 20px;
    margin: 10px auto;
}
.hero-nav__title{
    float: left;
}


.hero-nav__item-wrapper{
    margin: 0px auto;
    width: 50%;
    float: right;
    list-style: none;
    text-decoration: none;
    display: inline-flex;
}
.hero-nav__item{
    margin-right: 20px;
}
.hero-nav__item > a{
    color: black;
    transition: ease-in-out 0.3s;
}
.hero-nav__item > a:hover{
    transform: scale(2);
}

.searchBar{
    width: 100%;
    float: left;
    clear: both;
    padding: 0px 20px;
    margin: 10px auto;
}

.searchBar > label{
    margin-right: 20px;
}

/*    Cart Styles   */
.button {
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  background: steelblue;
  color: white;
  font-size: 12px;
  font-weight: bold;
}
.shopping-cart {
  position: fixed;
  top: 20px;
  right: 0;
  width: 300px;
  min-heigh: 300px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
  background: lightgrey;
  display: none;
}

.shopping-cart-head {
  background: steelblue;
  color: white;
  padding: 5px;
}

.shopping-cart,
.shopping-cart-head {
  border-radius: 5px;
}

.empty-cart-btn,
.cart-checkout {
  display: none;
  
}

.empty-cart-btn {
  margin-bottom: 5px;
}

.cart-checkout {
  background: limegreen;
}
